
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <img src="~/Assets/PageImages/image.jpg" width="1920" />
    </div>
</body>
</html>
